html {
    font-size: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    background-image: url("./images/SP\ background\ 3.png");
    background-repeat: repeat;
    background-size: cover;
    color: white;
    margin: 0 auto;
}

header {
    margin: 10px 0px
}

nav {
    background-color: rgba(135, 206, 235, 100%);
    top: 0;
    width: 100%;
    border: 1px solid black;
}

nav li {
    display: inline-block;
    padding: 4px 10px;
    margin: 0;
}

nav a {
    text-decoration: none;
}

.breadcrumbs li+li::before {
    content: "/";
    padding: 0 5px;
}

.breadcrumbs {
    display: flex;
    font-size: 0.75em;
}

h1 {
    font-size: 2rem;
    font-weight: bold;  
    margin: auto 40%;
}

h2 {
    font-size: 1.5rem;
}

h1, h2, .image-caption, #video {
    text-align: center;
}

h1, h2 {
    padding: 0.5rem;
}

h1, h2, span, figcaption {
    border-radius: 5px;
    background-color: darkred;
    border: 2px solid white;
}

main {
    margin: auto 0;
}

span, figcaption {
    padding: 5px;
}

#images {
    margin: 0;
}

.image-caption {
    display: inline-block;
    margin: 10px;
}

.screenshots, #gameplay-videos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px 0px;
}

.video-caption {
    background-color: black;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.image-caption img, .videos {
    filter: drop-shadow(2px 2px 2px black);
    height: 270px;
    width: 480px;
    padding: 10px 10px 5px;
    max-width: 100%;
}

figcaption {
    font-size: 0.8rem;
}

#video {
    position: relative;
}

h3 {
    font-style: italic;
    font-size: 1.25rem;
}

@media only screen and (max-width: 720px) {
    h1 {
        margin: auto 20%;
    }
}
/* Have padding around the images and videos, use justify content and related */