body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    color: white;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

#images {
    /* display: inline-flexbox;
    flex-flow: column wrap;
    justify-content: center; */
    margin: 0 auto;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap:20px Space between items */
    padding: 5px 0px;
}

.image, .videos {
    filter: drop-shadow(2px 2px 2px black);
    height: 270px;
    width: 480px;
    padding: 10px 10px 0px;
}

figcaption {
    padding: 10px 0px;
}

#video {
    text-align: center;
    padding: 10px;
}


/* Have padding around the images and videos, use justify content and related */