body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    color: white;
}

h1 {
    font-size: 40px;
    /*    
    margin: auto 40%;
    border: 2px solid black;
    background-color: darkred; */
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

main {
    margin: auto 0;
}

#images {
    margin: 0;
}

.image-caption {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.screenshots {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px 0px;
}

.image, .videos {
    filter: drop-shadow(2px 2px 2px black);
    height: 270px;
    width: 480px;
    padding: 10px 10px 5px;
    max-width: 100%;
}

figcaption {
    padding: 5px 5px 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
}

#video {
    text-align: center;
    padding: 10px;
    position: relative;
}


/* Have padding around the images and videos, use justify content and related */