html {
    font-size: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: darkcyan;
    color: white;
}

nav li {
    display: inline-block; 
}

nav a {
    text-decoration: none;
    font-size: 1em;
    padding: 0px 20px;
}

h1 {
    font-size: 2em;
}

.image {
    height: 216px;
    width: 384px;
    max-width: 100%;
    max-height: 100%;
}

table, th, td {
    margin: 0 auto;
    font-size: 25px;
}

.notes, a {
    font-size: 0.75em;
}

table, th, td, .notes {
    border: 2px solid black;
    padding: 3px;
}

a {
    text-decoration: none;
}