html {
    font-size: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: darkcyan;
    color: white;
    margin: 0;
}

nav {
    background-color: rgba(135, 206, 235, 100%);
    top: 0;
    width: 100%;
    border: 1px solid black;
}

nav li {
    display: inline-block;
    padding: 4px 10px;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: darkred;
}

h1 {
    font-size: 2em;
    border: 2px solid white;
    background-color: darkred;
    border-radius: 5px;
}

.image {
    height: 216px;
    width: 384px;
}

table, th, td {
    margin: 0 auto;
    font-size: 25px;
}

.notes, a {
    font-size: 0.75em;
}

table, th, td, .notes {
    border: 2px solid black;
    padding: 5px 5px 0px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.class {
    font-weight: bold;
}
/* add media query for smaller screens */