body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: darkcyan;
    color: white;
}

nav li {
    display: inline-block; 
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 20px;
}

h1 {
    font-size: 40px;
}

.image {
    height: 216px;
    width: 384px;
}

table, th, td {
    margin: auto;
    font-size: 25px;
}

.notes, a {
    font-size: 18px;
}

table, th, td, .notes {
    border: 2px solid black;
    padding: 1px;
}

a {
    text-decoration: none;
}