/* top puts it above everything else, fixed position keeps it fixed at the top
maybe add opacity, didn't look right when I first tried it */
nav {
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: skyblue;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
}

header {
    font-size: 40px;
    background-image: url("./images/SP\ kara.png");
/* Getting the size of background image to work was hard, had to increase the 
padding to make it look good, maybe take padding off and find a way to make 
it work without padding */
    background-size: 100%;
    background-color: rgb(70, 212, 231);
    padding: 270px 0px;
    text-transform: uppercase;
}
/* Adds a shadow around all the images on the page with class "image" */
.image {
    filter: drop-shadow(2px 2px 2px black);
    padding: 10px;
    height: 270px;
    width: 480px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    line-height: 1.5; /* Increases space between lines, improves readability */
    word-spacing: 0.1em; /* Increases space between words slightly */
}

h2, h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    background-color: darkred;
    border: 1px solid white;
}

footer, figure, header, h2, h3, h4, #summary, #faq {
    text-align: center;
}

.question {
    font-size: 25px;
}

.question, nav {
    font-weight: bold;
}

a {
    color: darkblue;
}

figure, body {
    margin: 0;
}

nav a, header {
    color: darkred;
}