html {
    font-size: 20px;
}

/* top puts it above everything else, fixed position keeps it fixed at the top
maybe add opacity, didn't look right when I first tried it */
nav {
    font-size: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(135, 206, 235, 95%);
    z-index: 1;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
}

header {
    font-size: 2.5rem;
    background-image: url("./images/SP\ kara.png");
/* Getting the size of background image to work was hard, had to increase the 
padding to make it look good, maybe take padding off and find a way to make 
it work without padding */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(70, 212, 231);
    padding: 100px 0px 290px;
    text-transform: uppercase;
}

.image {
    padding: 10px 0px 0px;
    height: 270px;
    width: 480px;
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 139, 139, 75%);
    color: white;
    font-size: 1rem;
    line-height: 1.5; /* Increases space between lines, improves readability */
    word-spacing: 0.1em; /* Increases space between words slightly */
}

h2, h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 0px 5px;
    background-color: darkred;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 0px;
}

footer, figure, header, h2, h3, h4, #summary, #faq {
    text-align: center;
}

.question {
    font-size: 1.25rem;
}

.question, nav {
    font-weight: bold;
}

a {
    color: lightblue;
}

figure, body {
    margin: 0;
}

#media, section, aside, footer {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    padding: 2px;
}

#media, section, footer {
    margin: 15px 10px;
}

#screenshots  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px 10px;
}

@media only screen and (max-width: 1000px) {
    #screenshots {
        flex-direction: column;
        align-items: center;
    }
}

#tips {
    justify-content: space-between;
}

#tips, aside {
    display: flex;
    align-items: center;
}

#tips-and-tricks {
    width: 75%;
    margin: 15px 5px;
    display: block;
}

aside {
    width: 20%;
    margin: 2px 0px;
    text-align: center;
    flex-direction: column;
}

.aside-image {
    width: 70%;
    height: auto;
    margin: 15px 2px 5px;
}

.aside-image, .image {
    filter: drop-shadow(2px 2px 2px darkturquoise);
    /* Adds a shadow around all the images on the page with class "image" or "aside-image" */
}

figcaption {
    font-size: 0.8rem;
    font-style: italic;
}

nav a, header {
    color: darkred;
}

@media only screen and (max-width: 720px) {
    nav {
        font-size: 0.75rem;
    }
}