/* top puts it above everything else, fixed position keeps it fixed at the top
maybe add opacity, didn't look right when I first tried it */
nav {
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: skyblue;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav a {
    text-decoration: none;
}

header {
    font-size: 45px;
    background-image: url("./images/SP\ kara.png");
/* Getting the size of background image to work was hard, had to increase the 
padding to make it look good, maybe take padding off and find a way to make 
it work without padding */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(70, 212, 231);
    padding: 210px 0px;
    text-transform: uppercase;
}
/* Adds a shadow around all the images on the page with class "image" */
.image {
    filter: drop-shadow(2px 2px 2px black);
    padding: 10px;
    height: 270px;
    width: 480px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 139, 139, 75%);
    color: white;
    font-size: 20px;
    line-height: 1.5; /* Increases space between lines, improves readability */
    word-spacing: 0.1em; /* Increases space between words slightly */
}

h2, h3 {
    font-size: 40px;
    font-weight: 600;
    padding: 0px 5px;
    background-color: darkred;
    border: 1px solid white;
    border-radius: 10px;
}

footer, figure, header, h2, h3, h4, #summary, #faq {
    text-align: center;
}

.question {
    font-size: 25px;
}

.question, nav {
    font-weight: bold;
}

a {
    color: lightblue;
}

figure, body {
    margin: 0;
}

#media, section, aside, footer {
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 10px;
    background-color: black;
}

#tips-and-tricks {
    width: 75%;
    display: inline-block;
}

aside {
    width: 20%;
    display: inline-block;
    margin: 2px;
    justify-content: center;
    text-align: center;
}

.aside-image {
    width: 90%;
    height: auto;
    margin-bottom: 5px;
    filter: drop-shadow(2px 2px 2px black);
}

nav a, header {
    color: darkred;
}