html {
    font-size: 30px;
}

header {
    background-color: darkred;
    border: 2px solid black;
    padding: 5px;
    margin: 0 auto;
}

header, #submission, .question {
    border-radius: 5px;
}

nav {
    background-color: rgba(135, 206, 235, 100%);
    top: 0;
    width: 100%;
    border: 1px solid black;
}

nav li {
    display: inline-block;
    padding: 4px 10px;
    margin: 0;
}

nav a {
    text-decoration: none;
}

.breadcrumbs li+li::before {
    content: "/";
    padding: 0 5px;
}

.breadcrumbs {
    display: flex;
    font-size: 0.75em;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    background-image: url("./images/SP\ background\ 3.png");
    background-size: cover;
    background-repeat: repeat;
    color: white;
    font-size: 0.75rem;
    margin: 5px auto;
    line-height: 1.25;
}

#submission {
    height: 100px;
    width: 220px;
    font-size: 1.5rem;
    background-color: darkcyan;
    margin-bottom: 5px;
}

#submission:hover {
    background-color: darkred;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.question {
    padding: 10px 5px;
    margin: 0 auto;
    width: 70%;
    background-color: black;
    border: 2px solid white;
}