html {
    font-size: 30px;
}

header {
    background-color: darkred;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    color: white;
    font-size: 0.75rem;
    margin: 5px auto;
    line-height: 1.25;
}

#submission {
    height: 100px;
    width: 220px;
    font-size: 1.5rem;
    background-color: lightseagreen;
    border-radius: 5px;
    margin-bottom: 5px;
}

#time-period, #combat-type, #selector, #affiliation, #other-matchup, 
#ship-size, #formation-size, #game-balance, #specific-units, #other-powers, 
#more-info {
    padding: 10px 5px;
    margin: 0 auto;
    width: 70%;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
}